.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
._形状 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#4EDB7C;
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
._形状1 {
}
._图片_ {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._图片_1 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.box_11 {
  font-size:12px;
  text-align:left;
}
.heading_1 {
  font-family:"PingFang SC", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:36px;
  text-align:left;
  line-height:44px;
}
._形状2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._形状3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.line {
}
.table_cell {
}
.box_21 {
  font-size:12px;
}
textarea, select, input, button, div, svg { outline: none; }
